* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.wrapper {
    margin-right: auto;
    margin-left: auto;

    max-width: 960px;

    padding-right: 10px;
    padding-left: 10px;
}

body {
    background: radial-gradient(circle, rgb(254, 253, 252, 1), 5%, rgb(243, 243, 247, 1) 100%);
}

.container {
    max-width: 100%;
}

nav {
    position: fixed;
    top: 2.5%;
    width: 920px;
    background-color: azure;
    padding: 0 .5em;
    border-radius: 40px;
    box-shadow: rgb(50 50 93 / 25%) 0 50px 100px -20px,
                    rgb(0 0 0/ 30%) 0 30px 60px -30px;

}

ul {
    list-style: none;
}

nav ul {
    display: flex;
    align-items: center;
}



nav  ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    padding: 1.5em;
    font-size: 1.2em;
    line-height: 1.4;
    height: 80px;
}

nav  ul li a span {
    font-size: 15px;
}

#get-started-btn {
    position: relative;
    right: -40px;
    padding: 25px;
    border-radius: 40px;
    border: 0 none;
    background-color: aquamarine;
}
