* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.page-width {
    max-width: 2440px;
}

/*page wrapper for sizing */
.wrapper {
    margin-right: auto;
    margin-left: auto;

    max-width: 960px;

    padding-right: 10px;
    padding-left: 10px;
}

body {
    background-color: white;

}

/* navbar styling */
.container {
    max-width: 100%;
}

nav {
    position: fixed;
    top: 2.5%;
    width: 920px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    padding: 0 .5em;
    border-radius: 40px;
    box-shadow: rgba(139, 139, 148, 0.25) 0 50px 100px -20px,
                    rgb(0 0 0/ 30%) 0 30px 60px -30px;
    border: 5px solid rgba(139, 139, 148, 0.04);
    z-index: 20;

}

ul {
    list-style: none;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    padding: 1.5em;
    font-size: 1.2em;
    line-height: 1.4;
    height: 80px;
}

nav  ul li a span {
    font-size: 15px;
}

#logo {
    width: 120px;
    position: relative;
    
}

#logo-phone-view {
    display: none;
}

#phone-home-img {
    display: none;
}

.header-box {
    padding: 80px;
}
 
/* Container for flexboxes */
.row {
    display: -webkit-flex;
    display: flex;
  }
  
  /* Create three equal columns that sits next to each other */
.column {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 10px;
    height: 900px; 
  }
   */
  /* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
  }

  /* Style for button that takes to form */
#get-started-btn {
    position: relative;
    right: -40px;
    padding: 25px;
    border-radius: 40px;
    border: 0 none;
    color: white;
    background-color: rgba(243, 112, 90, 1);
}

.hero-container {
    width: 100%;
    
}

.column-padding {
    height: 900px;
}

/* .hero-image::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -345px;
    left: 535px;
    background: url("https://raw.githubusercontent.com/Ry-F3/Ai.img/main/assets/images/mascot.png");
    background-repeat: no-repeat;
    background-size: 15%;
    z-index: 5;
} */

#mascot-container {
    border: 1px solid blue;
    width: 50%;
    height: 50%;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    right: 0;
    
    
}
#mascot-image {
    max-width: 20%;
    position: relative;
    float: right;
   
}

.hero-image {
    background: url("https://ik.imagekit.io/wxo449wpo/product.jpeg?");
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 10;
    
    

}

footer {
    position: fixed;
    background-color: white;
    bottom: 0;
    width: 100%;
    padding: 20px;
    float: left;
    z-index: 0;
}


 /* media queries for responsive design */
@media screen and (max-width: 930px) {

    nav {
        width: 95%;
        right: 0px;
    }

    nav  ul li a span {
        display: none;
        
    }

    #get-started-btn {
        right: -90px;
    }

}

@media screen and (max-width: 849px) {
    nav{
        right: 8px;
    }

    nav ul li a {
        font-size: 1em;
        padding: 1.3em;
    }

    #get-started-btn {
        right: -100px;
    }

}

@media screen and (max-width: 820px) {
    nav ul li a {
        font-size: 1em;
        padding: 1.3em;
    }

    #get-started-btn {
        right: -100px;
    }

}

@media screen and (max-width: 768px) {
    nav ul li a {
        padding: 1.5em;
    }

    #get-started-btn {
        right: -20px
    }
}

@media screen and (max-width: 756px) {
    #get-started-btn {
        display: none;
    }

    .row {
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    .column {
        padding: 60px;
    }
}

@media screen and (max-width: 556px) {
    nav {
        right: 3px;
    }
    nav ul li a {
        padding: .75em;
    }

    #phone-home-img {
        position: relative;
        display: flex;
        width: 78vw;
        right: -41px;
        bottom: 22px;
        z-index: -1;

    }

}

@media screen and (max-width: 440px) {
    nav {
        right: 2px;
    }
}

@media screen and (max-width: 428px) {
    nav {
        right: 0px;
        width: 95%;
    }

    nav ul li a {
        padding: .75em;
    }

    #get-started-btn {
        display: none;
    }

    #logo {
        right: -10px;
    }
}

@media screen and (max-width: 412px) {
    nav {
        right: 0;
        width: 95%;
    }

    nav ul li a {
        padding: .55em;
    }

    #get-started-btn {
        display: none;
    }

    #logo {
        right: -10px;
    }
}

@media screen and (max-width: 360px) {
    nav ul li a {
        padding: .5em;
    }

}

