* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/*page wrapper for sizing */
.wrapper {
    margin-right: auto;
    margin-left: auto;

    max-width: 960px;

    padding-right: 10px;
    padding-left: 10px;
}

body {
    background-color: white;

}

/* navbar styling */
.container {
    max-width: 100%;
}

nav {
    position: fixed;
    top: 2.5%;
    width: 920px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    padding: 0 .5em;
    border-radius: 40px;
    box-shadow: rgba(139, 139, 148, 0.25) 0 50px 100px -20px,
        rgb(0 0 0/ 30%) 0 30px 60px -30px;
    border: 5px solid rgba(139, 139, 148, 0.04);
    z-index: 20;

}

ul {
    list-style: none;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    padding: 1.5em;
    font-size: 1.2em;
    line-height: 1.4;
    height: 80px;
}

nav ul li a span {
    font-size: 15px;
}

#logo {
    width: 120px;
    position: relative;
}

#logo-phone-view {
    display: none;
}

#phone-home-img {
    display: none;
}

/*divider box for header area */

.divider-box {
    margin: 0 auto;
    padding: 90px;
    width: 100%;
}

/* page break to divide the sections for responsive design */

.page-break {
    margin: 0 auto;
    padding: 90px;
    width: 100%;
}

/* Container for flexboxes */
.row {
    display: -webkit-flex;
    display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 10px;
    height: 900px;
}

/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

/* Style for button that takes to form */
#get-started-btn {
    position: relative;
    right: -40px;
    padding: 25px;
    border-radius: 40px;
    border: 0 none;
    color: white;
    background-color: rgba(243, 112, 90, 1);
}

.b-container {
    width: 100%;
    height: 100%;
    position: relative;
}

#banner {
    width: 50vw;
    z-index: 0;
    margin: 0 auto;
    position: absolute;
    left: 0px;
    top: -60px;
}

/*column 1 styling */

section div div h1 {
    font-size: 250%;
}

/*column 2 styling */

.row-inner {
    position: relative;
    bottom: -150px;
    padding: 50px;
    width: 100%;
    margin: auto 0;
}

#buttons-parent {
    width: 50%;
    text-align: center;
    border: 2px solid red;
}

.product-buttons {
    width: 200px;
    padding: 5px;
    margin: auto;
    display: block;
}

footer {
    position: fixed;
    background-color: white;
    bottom: 0;
    width: 100%;
    padding: 20px;
    float: left;
    z-index: 10;
}


/* media queries for responsive design */
@media screen and (max-width: 930px) {

    nav {
        width: 95%;
        right: 0px;
    }

    nav ul li a span {
        display: none;

    }

    #get-started-btn {
        right: -90px;
    }

    .hide {
        display: none;
    }

    .page-break {
        margin: 0;
        padding: 0;
        width: 0;
    }

}

@media screen and (max-width: 849px) {
    nav {
        right: 8px;
    }

    nav ul li a {
        font-size: 1em;
        padding: 1.3em;
    }

    #get-started-btn {
        right: -100px;
    }

}

@media screen and (max-width: 820px) {
    nav ul li a {
        font-size: 1em;
        padding: 1.3em;
    }

    #get-started-btn {
        right: -100px;
    }

}

@media screen and (max-width: 768px) {
    nav ul li a {
        padding: 1.5em;
    }

    #get-started-btn {
        right: -20px
    }
}

@media screen and (max-width: 756px) {
    #get-started-btn {
        display: none;
    }

    .row {
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    .column {
        padding: 60px;
    }
}

@media screen and (max-width: 556px) {
    nav {
        right: 3px;
    }

    nav ul li a {
        padding: .75em;
    }

    /* phone home image */
    #phone-home-img {
        position: relative;
        display: flex;
        width: 78vw;
        right: 20px;
        bottom: 0;
        z-index: 5;

    }

    .divider-box {
        margin: 0 auto;
        padding: 45px;
        width: 100%;
    }

    /*column 2 sizing */
    .row-inner {
        bottom: -38px;
        padding: 40px;
    }


}

@media screen and (max-width: 440px) {
    nav {
        right: 2px;
    }
}

@media screen and (max-width: 428px) {
    nav {
        right: 0px;
        width: 95%;
    }

    nav ul li a {
        padding: .75em;
    }

    #get-started-btn {
        display: none;
    }

    #logo {
        right: -10px;
    }
}

@media screen and (max-width: 412px) {
    nav {
        right: 0;
        width: 95%;
    }

    nav ul li a {
        padding: .55em;
    }

    #get-started-btn {
        display: none;
    }

    #logo {
        right: -10px;
    }
}

@media screen and (max-width: 360px) {
    nav ul li a {
        padding: .5em;
    }

}